@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    overflow: hidden;
    height: 100%;
    font-family: "Ubuntu", sans-serif;
}

video {
    /* height: 100%; */
    /* user-select: none; */
    position: absolute;
    right: 0;
    bottom: 0;
    /* overflow: hidden;
    object-fit: cover; */
    z-index: -5;
}

.container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
}

.box {
    padding: 40px 20px;
    width: 80%;
    height: 600px;
    margin-inline: auto;
    background: rgba(255, 255, 255, 0.511);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    color: #fff;
    text-align: center;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.search_input {
    width: 100%;
    padding: 10px 0;
    border: 0;
    border-bottom: 2px solid #fff;
    background-color: inherit;
    font-size: 18px;
    color: #fff;
    margin-right: 15px;
}

.search_input:focus {
    outline: none;
}

.search_input::placeholder {
    color: #fff;
}

.search-btn {
    padding: 10px 16px;
    font-size: 18px;
    border: 0;
    color: rgb(59, 59, 237);
    border-radius: 5px;
    cursor: pointer;
}

.title {
    font-size: 50px;
    margin-bottom: 30px;
}

.weather_status {
    font-size: 20px;
    margin-bottom: 20px;
}

.weather_icon {
    margin-bottom: 30px;
}

.temperature {
    font-size: 70px;
    color: #111111;
}

@media (max-width: 768px) {
    .box {
        height: 520px;
    }
}
